/* /* 
 Theme Name:  Fleurs d'orangers et chats errants - Oscars Short
 Theme URI: https://www.koukaki.local
 Author: Studio Koukaki
 Author URI: https://www.koukaki.local
 Template: foce
 Description: Thème enfant à l'ocasion de la nomination aux Oscars Shorts
 Version: 0.1
 */


 :root {
   --rotationSpeed : 12;
 }

/* menu */

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

 div {
    width: 100%;
}

.wrapper{
    overflow: hidden;
}

.site-title{
    background-color: #FFD5A2;
    max-width: 1440px;
    padding-top: 25px;
    display: block;
    font-family: "Quicksand";
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
   
  }

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    padding-left: 2%;
    padding-right: 2%;
}

.main-navigation ul {
	height: 100%;
	display: none;
	list-style: none;
	padding-left: 50px;
}

.main-navigation li {
    position: relative;
    font-size: 4em;
}

.main-navigation > li {
    font-family: 'Quicksand';
    font-size: 21px;
}

.navbar-links{
    background-color: #FFF5E9; 
    padding-top: 140px;
    position: absolute;
    top: 80px;
    text-align: center;
    font-weight: 400;
    width: 100%;
    z-index: 1000;
}
.navbar-links > li {
    max-width: 1440px;
    padding-top: 57px;
}

.navbar-links li:hover {
    text-shadow: 0 0 14px #FF5C00;
}

.navbar_logo{
    width: 154px;
    position: absolute;
    top: 37px;
    left: 44%;
    z-index: 9999;
}

.navbar_item > a{
    text-decoration: none; 
}
.main-navigation > p{
    font-size: 12px;
    position: absolute;
    top: 80em;
    z-index: 9999;
}

.nav_studio {
    margin-bottom: 2em;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
    height: 115vh;
    /* left: auto; */
}

/* icone burger */
.menu-toggle {
    display:block;
    position: absolute;
    left: 89%;
    top: 13px;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
}
   
.main-navigation .line {
	height: 2px;
	background-color: #000;
	display: block;
	margin: auto;
	margin-block: -2px;
	width: 2.5em;
    z-index: 9999;
    position:relative;
    transition: all .5s ease-in-out;
}

.line_one {
    transform:translateY(-12px)
  }
  .line_three {
    transform:translateY(12px)
  }
.open-nav .line_two {
    width:0;
    background:transparent;    
  }
.open-nav .line_one {
    transform:rotate(45deg);
  }
.open-nav .line_three {
    transform:rotate(-45deg);
  }  

    /* ajout des fleurs et chats */
.navbar_links::before{
    content: url("./assets/images/orchid.png");
    position: absolute;
    left: -500px;
    top: 30px;
}

.nav_story::before{
    content: url("./assets/images/cat-purpul.png");
    position: absolute;
    max-width: 109px;
    left: 13%;
    top: 0;
}

.nav_story::after{
    content: url("./assets/images/Sunflower.png");
    position: absolute;
    right: 14%;
    top: -95px;
}

.nav_characteres::after{
    content: url("./assets/images/Random\ Flower.png");
    position: absolute;
    right: 0;
    top: 89px;
}

.nav_place::before{
    content: url("./assets/images/Flower.png");
    position: absolute;
    left: 6%;
    top: 53px;
}

.nav_place::after{
    content: url("./assets/images/cat-grey.png");
    position: absolute;
    right: 15%;
    top: 13px;
}

.nav_studio::before{
    content: url("./assets/images/cat-yellow.png");
    position: absolute;
    left: 4%;
    top: 174px;
}

.nav_studio::after{
    content: url("./assets/images/Hibiscus\ footer.png");
    position: absolute;
    top: 90px;
    right: 0%;
}




/* effet d'apparission vers le haut */
 @keyframes goUp {
    from{
        transform : translateY(300px);
		opacity: 0;
    }
    to{
        transform: translateY(0);
		opacity: 1;
    }
}

@keyframes goDown {
    from{
        transform : translateY(-100px);
		opacity: 0;
    }
    to{
        transform: translateY(0);
		opacity: 1;
    }
}

h2:before, h3, .story__article::before, .story #characters, #studio > h2, #studio > div::before {
	animation: goUp 2s ease-in-out;
}

 #big_cloud, #little_cloud, .main-navigation.toggled ul  {    
    animation: goDown 2s;
}


/*rotation des fleures*/
@keyframes rotateFlowers {
    from{
        transform : rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}
/* effet goUp des fleurs puis leurs rotation */
h2::after, .story__article::after, .studio_orchid, .site-footer ul::after, .studio_white_flower, #studio h2::before, #studio h2::after, .main-navigation_links::before, .nav_story::after, .nav_place::before  {
    animation: rotateFlowers calc(var(--rotationSpeed) * 1s) infinite linear, goUp 2s ease-in-out;
}



/* class JS accélération des fleurs au scroll*/
.objectSpeedUp {
    transform: rotate(1turn)1s infinite;
}



 /* effet de flottementdes chats dans le menu */
@keyframes float {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-15px, 11px);
    }
    50%{
        transform: translate(0, 15px);
    }
    75%{
        transform: translate(15px, 10px);
    }
    100% {
      transform: translate(0);
    }
  }

.nav_story::before, .nav_place::after, .nav_studio::before {
    animation: float 3s ease-in-out infinite;
  }

  /* logo : apparition puis effet de flottement*/
  .banner img {
    animation: float 3s ease-in-out infinite, goUp 2s;
  }



/* effet d'apparition des titres*/ 

/* styles pour les titres H2 sans pseudo-éléments */
h2:not(:before):not(:after) {
    opacity : 0
    
  }

.title1 {
    opacity:0;
    position: relative;
    top: 100px;
}

/* h2, h3{
    opacity: 1;
} */
.title_visible {
    transform: translateY(Opx);
} 

/* suite du flux */
.banner{
    animation: goDown 2s;   /* effet d'apparition vers le bas */
    overflow-x: hidden;   
    overflow-y: auto;
    perspective: 1px;
    margin-bottom: 117px;
    height: 50em;
}

.banner img {
    width: 50%;
    height: 67%;
}

.background-video{
    position: relative;
    z-index: -1;
}

/* characterrs - carrousel */
.swiper {
  max-width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /* visibility: hidden; */
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* section place */
.story #place {
	background-image: url("./assets/images/Studio_Koukaki-image_place.png");
}

/* ajout du gros nuage */
#big_cloud {
    position: absolute;
    top: 69%;
    display: block;
	left: calc(52% + 210px);
    filter: drop-shadow(0px 0px 20px #C0F7FF);
}

/* ajout du petit nuage */
#little_cloud {
    position: absolute;
    top: 77%;
	left: calc(65% + 320px);
    filter: drop-shadow(0px 0px 20px #C0F7FF);
}

/* section nomination */
.nomination_container {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nomination_text {
    font-family: "Quicksand";
    font-size: 42px;
    font-weight: 700;
    height: 280px;
    width: 723px;
    color: #FFF5E9;
    background-image: url("./assets/images/Rectangle\ 23.png");
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-left: 48px;
}

.nomination_img{
    padding-bottom: 103px;
}

/* footer déplacement des fleurs */
.studio_white_flower {
	position: absolute;
	left: 6em;
	top: 33em;
}

.studio_orchid {
	position: absolute;
	right: -4em;
	bottom: -9.2em;
}
    
.site-footer::before {
	content: url("");
}

.site-footer::after {
	content: url("");
}


@media all and (max-width: 990px) {
    .nomination_container{
        flex-direction: column-reverse;
    }
    .nomination_img{
        padding: 0 !important;
    }
}

@media all and (max-width: 920px) {
    .nav_studio::after{
        display: none;
    }  
    #big_cloud {
        display: none;
    }
    #little_cloud {
        display: none;
    }
    .studio_orchid{
        display: none;
    }
    .studio_white_flower{
        display: none;
    }
}

@media all and (max-width: 720px) {
    .nomination_text{
        color: #404040 !important;
        font-size: 2em;
        background-image: none !important;
        width: 100% !important;
        margin-bottom: 100px !important;
    }
    .navbar_links::before{
        content: url("");
    }
    
    .nav_story::before{
        content: url("");
    }
    
    .nav_story::after{
        content: url("");
    }
    
    .nav_characteres::after{
        content: url("");
    }
    
    .nav_place::before{
        content: url("");
    }
    
    .nav_place::after{
        content: url("");
    }
    
    .nav_studio::before{
        content: url("");
    }
    
    .nav_studio::after{
        content: url("");
    }
    .banner img {
        width: 76%;
        height: 42%;
    }
    .navbar_logo{
        left: 39%;
    }
}
  
/*  gestion de la vidéo dans la bannier */
@media all and (max-width: 480px) {
    .background-video {
        display: none;
    }
    .navbar-links{
        padding-left: 5px !important;
    }
    .main-navigation li {
        font-size: 3em;
    }  
    .site-title{
        padding-top:15px;
    }
    .navbar_logo{
        left: 25%;
    }
}

@media all and (min-width: 480px){
    .banner_img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}